---
layout: default.hbs
subject: \{{name}} has been removed from {{organization}}
---
<span class="preheader">As a valued NKBA Member, we’re excited to offer you a free member profile on the new NKBA.org.</span>
<table class="header" align="center"  width="100%" cellspacing="0" cellpadding="0" bgcolor="#FDFDFE"  border="0">
    <tr>
        <td class="wrapper border-bottom" valign="middle">
            <img class="logo" border="0" src="https://media.nkba.org/img/nkba-logo@2x.png" alt="NKBA" height="30" width="141">
        </td>
    </tr>
</table>
<table class="main" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="wrapper">
            <table width="100%">
                <tr>
                    <td class="content-block text-4" valign="top">
                       Member services,
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       You have received this message because <b>\{{name}} (\{{memberNumber}})</b> has been removed from <b>\{{organization}}</b>.
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       This member no longer belongs to any organizations.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
