---
layout: default.hbs
subject: Your membership expires in 30 days!
---
<span class="preheader">Your NKBA Membership Is Due for Renewal.</span>
<table class="header" align="center" width="100%" cellspacing="0" cellpadding="0" bgcolor="#FDFDFE" border="0">
    <tr>
        <td class="wrapper border-bottom" valign="middle">
            <a href="\{{WEB_URL}}"><img class="logo" border="0" src="https://media.nkba.org/img/nkba-logo@2x.png" alt="NKBA" height="30" width="141"></a>
        </td>
    </tr>
</table>
<table class="main" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="wrapper">
            <table width="100%">
                {{!-- <tr>
                    <td class="content-block pt1" valign="top">
                        <h1>\{{#if invoice}}Invoice\{{else}}Receipt\{{/if}}</h1>
                    </td>
                </tr> --}}
                {{!-- <tr>
                    <td class="content-block text-4 pt1 " valign="top">
                        <h3>DON’T MISS OUT!</h3>
                        <h2 class="bold">Renew Now and Continue Enjoying All the Benefits of NKBA Membership!</h2>
                    </td>
                </tr> --}}
                <tr>
                    <td class="py3 text-4" valign="top">
                        Dear \{{name}},
                    </td>
                </tr>
                <tr>
                    <td class="pb2 text-4" valign="top">
                        We want to remind you that your NKBA membership and/or certification fees are now due for renewal.
                    </td>
                </tr>
                <tr>
                    <td class="pb3 text-4" align="top">
                        We know the current situation brought on by COVID-19 is uncharted territory for all of us and are aware of the unprecedented conditions impacting our businesses and our lives in general. As such, if paying your dues at this time presents a hardship, we want you to know we are here to work with you and won’t suspend your membership at this time.  Please let us know as soon as possible if you are not able to renew right now, at <a href="mailto:info@nkba.org">info@nkba.org</a>. 
                    </td>
                </tr>
                <tr>
                    <td class="pb3 text-4" align="top">
                        In times of uncertainty our association can be of tremendous value to keep you connected, enhance your professionalism and keep you informed. This is a good time to take advantage of NKBA’s online programs, like free webinars, begin or continue your journey toward certification or acquire NKBA Badges to enhance your professional development. With your continued support, we are able to provide benefits and programs to inspire, lead and empower kitchen and bath professionals everywhere.
                    </td>
                </tr>
                <tr>
                    <td class="pb3 text-4" align="top">
                        We value your membership and appreciate your support. Our industry is resilient and strong — and together, we will weather the crisis.
                    </td>
                </tr>
                <tr>
                    <td class="pb3 text-4" valign="top">   
                      {{> button type="primary" title="Pay Online" url="{{WEB_URL}}/autologin/{{token}}?redirect={{WEB_URL}}/orders/{{orderId}}" align="left"}}
                    </td>
                </tr>
                 <tr>
                    <td class="pb2 text-4" valign="top">
                       <strong>Don’t Miss Out On These Exclusive Offerings with Your Membership</strong>
                    </td>
                </tr>  
                <tr>
                    <td class="pb2 text-4" valign="top">
                        You’ll gain competitive advantage in an ever-changing industry.
                    </td>
                </tr>
                <tr>
                    <td class="pb2 text-3" valign="top">
                      <ul>
                          <li><strong>EXCLUSIVE</strong> KBIS Discounts<br><em>Free early-bird registration and member-only savings to attend and exhibit</em></li>
                          <li><strong>COMPLIMENTARY</strong> Easy-to-Build Business Web Page<br><em>Free early-bird registration and member-only savings to attend and exhibit</em></li>
                          <li><strong>PROFESSIONAL DEVELOPMENT: </strong> Education, Certifications, Specialty Badges and free monthly webinars<br><em>Globally recognized professional appellations communicate your expertise, build your reputation and "street cred"</em></li>
                          <li><strong>COMPLIMENTARY</strong> Membership for Your Employees<br><em>Full access to all the benefits of the NKBA</em></li>
                          <li>Robust Exclusive <strong>Job Database</strong><br><em>Post jobs you need filled or search for new opportunities</em></li>
                      </ul>
                    </td>
                </tr>
                <tr>
                    <td class="pb2 text-4" valign="top">
                       <strong>PLUS</strong>, enjoy the look and experience of our mobile-optimized website.
                    </td>
                </tr>
                <tr>
                    <td class="pb3 text-4" valign="top">   
                      {{> button type="primary" title="Pay Online" url="{{WEB_URL}}/autologin/{{token}}?redirect={{WEB_URL}}/orders/{{orderId}}" align="left"}}
                      <p><em>This link expires 2 weeks from today. To pay online anytime, please refer to the attached PDF for instructions.</em></p>
                    </td>
                </tr>
                <tr>
                    <td class="pb2 text-4" valign="top">
                       OR
                    </td>
                </tr>
                <tr>
                    <td class="pb2 text-4" valign="top">
                       <strong>Call to Renew</strong><br>Please contact NKBA Member Relations at (800) 843-6522.
                    </td>
                </tr>
                <tr>
                    <td class="pb2 text-4" valign="top">
                       <strong>Questions or Info Changes?</strong><br>
                       Our Member Relations Team is here to support you. Please call 1-800-THE-NKBA (1-800-843-6522) or email <a href="mailto:info@nkba.org">info@nkba.org</a>.
                    </td>
                </tr>
                <tr>
                    <td class="pb2 text-4" valign="top">
                       <em>If you have previously submitted your dues for payment, please disregard this message and we thank you for your prompt payment.</em>
                    </td>
                </tr>
                <tr>
                    <td class="pb2 text-4" valign="top">
                       Thank you for your continued support of the NKBA!
                    </td>
                </tr>
                
                <tr>
                    <td class="pb2 text-4" valign="top">
                        Sincerely,<br>
                        The NKBA
                    </td>
                </tr>
                <tr>
                    <td class="pb2 text-4 italic" valign="top">
                        The NKBA membership year is based on 12 months from renewal date.
                    </td>
                </tr>
                
            </table>
        </td>
    </tr>
</table>
